/* Character Creation Page */

#outerWrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 2px green dotted; */
}

.sideBar {
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px blue solid; */
  background: rgba(200,200,200, 0.8);

}

.changePortrait {
  position: relative;
  display: block;
  height: 12vw;
  width: 12vw;
  /* border: 2px yellow solid; */
}

#changeP_left{
  background: url("../images/1469141117_Arrow_Drop_Down.svg") no-repeat;
   background-size: 100%;
  transform: rotate(90deg);
}

#changeP_right{
  background: url("../images/1469141117_Arrow_Drop_Down.svg") no-repeat;
  background-size: 100%;
  transform: rotate(-90deg);
}

.left_selection{
  border: 2px gray inset;
  border-radius: 50%;
  position: relative;
  display: block;
  height: 5vh;
  width: 5vh;
  background: url("../images/1469141117_Arrow_Drop_Down.svg") no-repeat;
  transform: rotate(90deg);


}

.right_selection{
  border: 2px gray inset;
  border-radius: 50%;
  position: relative;
  display: block;
  height: 5vh;
  width: 5vh;
  background: url("../images/1469141117_Arrow_Drop_Down.svg") no-repeat;
  transform: rotate(-90deg);
}

.emptyArrow {
  background: none;
  border: none;
}

.empty {
  margin-top: 1vh;
  display: block;
  position: relative;
  height: 50px;
  width: 100%;

}


#characterScreenContainer{
  position: relative;
  display: block;
  /* border: 2px red solid; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(222,222,222, 0.8);
  /* border: 2px orange dashed; */
}

.charPortrait {
  border-radius: 50%;
  position: relative;
  display: block;
  height: 12vw;
  width: 12vw;
}

.flag {
  display: block;
  position: relative;
  height: 6vw;
  width: 6vw;
}

#showFlag{


  /* border: 2px red solid; */
}

#portraitBackground {
  display: block;
  position: relative;
  background-color: rgba(100, 188, 255, 0.9);
  background-size: 100%;
  height: 12vw;
  width: 12vw;
  border-radius: 75% 50% 75% 50%;
}



.charInput{
  border: 2px white solid;
  border-radius: 5px;
  position: relative;
  display: block;
  line-height: 150%;
  font-size: 20px;
  height: 5vh;
  width: 100%;
  text-align: center;
  background-color: rgba(155, 222, 255, 0.9);

}

.charQuote {

  height: 5vh;
  font-size: 0.5rem;
  line-height: 120%;
  word-wrap: break-word;
  flex-wrap: wrap;
  text-align: left;
  overflow: scroll;
  align-self: inherit;
  text-align: center;
}

#submitAstronaut{
  display: block;
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 1vh;
  background: rgba(205,255,200, 0.7);
  border: 2px gray outset;
  font-size: 18px;
  line-height: 200%;
}

#charScreenTitle {
  display: block;
  position: fixed;
  text-align: center;
  top: 2vw;
  width: 100vw;
  /* border: 2px black dotted; */
  font-size: 48px;
  line-height: 150%;

}

#pageNumber {
  display: block;
  position: fixed;
  text-align: center;
  bottom: 5vw;
  width: 20vw;
  margin: 0 40vw;
  /* border: 2px black dotted; */
}

#fakeLoadWrapper{
  height: 100vh;
  width: 100vw;
  position: fixed;
  /* border: 2px orange solid; */

}

#fakeLoadImageContainer{
  display: block;
  position: fixed;
  height: 50vh;
  width: 80vw;
  top: 10vh;
  left: 10vw;


}
#fakeLoadImage{
  height: 100%;
  width: 100%;
  position: absolute;
  border: 3px gray inset;
  border-radius: 5px;

}

#fakeLoadText{
  height: 25vh;
  width: 100vw;
  bottom: 0px;
  font-size: 64px;
  line-height: 200%;
   color: white;
   text-align: center;
}
