#newspaperWrapper {
  height: 100vh;
  width: 100vw;
  font-family: "Times New Roman", Times, serif;

}

#newspaperBackground {
  background: url(../images/blank-newspaper-front-page-template-p2c-info-Twnr84-clipart.jpg) no-repeat scroll;
  background-size: 100%;
  background-position: left top;
  background-attachment: scroll;
  height: 100%;
  width: 100%;
}

#newspaperName{
 /*  border: 2px yellow solid; */
  position: relative;
  display: block;
  text-align: center;
  font-size: 44px;
  line-height: 110%;
  height: 50px;
  width: 200px;
  top: 4vw;
  left: 29vw;
  font-size: 10vw;
}

#headline {
 /*  border: 2px red solid; */
  position: fixed;
  display: block;
  font-size: 3.5vw;
  line-height: 150%;
  height: 8vw;
  width: 55vw;
  top: 16vw;
  left: 22vw;
  text-align: center;
}

#headlineText{
  position: relative;
  display: block;
}

#articleContainer{
 /*  border: 2px orange solid; */
  position: fixed;
  display: block;
  text-align: center;
  font-size: 1.5vw;
  line-height: 115%;
  height: 60vw;
  width: 50vw;
  top: 22vw;
  left: 24vw;
  text-align: justify;
  overflow: scroll;

}

#articleText{
  position: relative;
  display: block;
}

#sidebarColumn{
  /* border: 2px blue solid; */
  position: fixed;
  display: block-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5vw;
  line-height: 100%;
  height: 40vw;
  width: 11vw;
  top: 22vw;
  left: 10vw;
}

.sidebarItem{
  position: relative;
  display: block;
  /* border: 2px green dotted; */
  height: 13vw;
}

#restartGame{
  position: fixed;
  top: 2vw;
  left: 2vw;
  background: rgba(55,55,122, 0.8);

}

#restartGame:hover{
  zoom: 1.1;
  background: rgba(155,211,122, 1);
}
